apiVersion: batch/v1
kind: CronJob
metadata:
  name: ai-ingestor
  labels:
    app: ai-ingestor
spec:
  # every 30 minutes (change whenever you want)
  schedule: "*/30 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      backoffLimit: 2
      template:
        metadata:
          labels:
            app: ai-ingestor
        spec:
          restartPolicy: OnFailure
          containers:
            - name: ai-ingestor
              image: ghcr.io/gfoldy/ai-instagram-news-k8s/ai-ingestor:latest
              imagePullPolicy: Always
              env:
                - name: DATABASE_URL
                  valueFrom:
                    secretKeyRef:
                      name: database-secret
                      key: DATABASE_URL
              resources:
                requests:
                  cpu: "50m"
                  memory: "128Mi"
                limits:
                  cpu: "300m"
                  memory: "512Mi"
