apiVersion: apps/v1
kind: Deployment
metadata:
  name: review-ui
  labels:
    app: review-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: review-ui
  template:
    metadata:
      labels:
        app: review-ui
    spec:
      containers:
        - name: review-ui
          image: ghcr.io/gfoldy/ai-instagram-news-k8s/review-ui:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8501
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: database-secret
                  key: DATABASE_URL
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: review-ui
  labels:
    app: review-ui
spec:
  type: ClusterIP
  selector:
    app: review-ui
  ports:
    - name: http
      port: 80
      targetPort: 8501
